.about {
  height: 100%;
  margin-bottom: 50px;
  &__img {
    width: 100%;
  }
  &__info {
    width: 400px;
    height: 400px;
    background: rgba(106, 178, 84, 0.7);
    position: absolute;
    top: 20%;
    right: 10%;
    font: 20px $main-font, Arial;
    padding: 20px;
    color: #fff;
  }
  &__title{
    font: 30px $main-font, Arial;
    text-align: center;
    margin-bottom: 20px;
  }
}

.production {
  height: 100%;
  &__title{
    font: 30px $main-font, Arial;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &-content {
    text-align: center;
    max-width: 980px;
    margin: 0 auto 50px;
    height: 100%;
    color: $font-color;
    list-style: none;
    &__item {
      display: inline-block;
    }
    &__img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      border: 1px solid $main-color;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__quality-icon {
      width: 100px;
      height: 100px;
      display: block;
      margin: 25px auto 0;
      background: url("../img/sprite.png") -100px 0;
    }
    &__price-icon {
      @extend .production-content__quality-icon;
      background: url("../img/sprite.png");
    }
    &__delivery-icon {
      @extend .production-content__quality-icon;
      background: url("../img/sprite.png") -200px 0;
    }
    &__title {
      font: 25px $main-font, Arial;
    }
    &__description {
      font: 18px $main-font, Arial;
    }
  }
}

.offer {
  height: 100%;
  &__title {
    font: 30px $main-font, Arial;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  &__product {
    border-bottom: 1px solid #a84d31;
    display: block;
    height: 400px;
    padding: 20px;
    color: $font-color;
    text-align: center;
    overflow: hidden;
    @media (max-width: 990px) {
      min-height: 400px;
      height: 100%;
    }
    &-img {
      width: 100%;
    }
    &-title {
      font: 25px $main-font, Arial;
      text-align: center;
      text-transform: uppercase;
      margin: 70px 0 20px;
    }
    &-price {
      font: 25px $main-font, Arial;
      color: #a84d31;
      margin-bottom: 20px;
      display: block;
      text-align: left;
    }
    &-description {
      font: 18px $main-font, Arial;
      color: $font-color;
      margin-bottom: 20px;
      text-align: left;
    }
    &-details {
      font: 18px $main-font, Arial;
      color: $main-color;
      text-align: center;
      &:hover {
        text-decoration: underline;
        color: $main-color;
      }
    }
  }
}

